[submodule "modules/rofi-collection"]
	path = modules/rofi-collection
	url = https://github.com/adi1090x/rofi.git
[submodule "modules/apple-magic-trackpad-battery"]
	path = modules/apple-magic-trackpad-battery
	url = https://github.com/AlejandroMinor/apple-magic-trackpad-battery-percent-python.git
[submodule "modules/sinkswitch"]
	path = modules/sinkswitch
	url = https://github.com/AlejandroMinor/sinkswitch.git
[submodule "modules/waybar-claude-usage"]
	path = modules/waybar-claude-usage
	url = https://github.com/AlejandroMinor/waybar-claude-usage.git
