@import url("colors.css");

window {
    background-color: alpha(@bg_color, 0.4);
}

button {
    background-color: alpha(@bg_color, 0.65);
    color: @fg_color;
    border-style: solid;
    border-width: 2px;
    border-color: alpha(@border_color, 0.1);
    border-radius: 20px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.3s cubic-bezier(.55,0.05,.67,.19);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

button:focus,
button:active,
button:hover {
    background-color: alpha(@border_color, 0.2);
    border-color: @border_color;
    color: @border_color;
    outline-style: none;
    box-shadow: 0 0 15px alpha(@border_color, 0.5);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#shutdown:hover {
    border-color: @red;
    color: @red;
    box-shadow: 0 0 20px @red;
}

#reboot:hover {
    border-color: @yellow;
    color: @yellow;
    box-shadow: 0 0 20px @yellow;
}

#lock:hover {
    border-color: @green;
    color: @green;
    box-shadow: 0 0 20px @green;
}

#logout:hover {
    border-color: @magenta;
    color: @magenta;
    box-shadow: 0 0 20px @magenta;
}
